<ion-header>
  <ion-navbar>
    <ion-title>
      Meetup
    </ion-title>
    <ion-fab top right edge>
      <button ion-fab mini (click)="addMeetup()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>All Meetups</ion-list-header>
    <ion-list-header *ngIf="(meetupList | async)?.length===0">Start creating meetups and share with the world!</ion-list-header>
    <ion-item-sliding *ngFor="let meetup of meetupList | async">
      <ion-item>
        <ion-icon name="chatboxes" danger item-left></ion-icon>
        <h2>{{meetup.name}}</h2>
        <h3>Address: {{meetup.address}}, {{meetup.city}}</h3>
        <p>Phone: {{meetup.phone}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary" icon-left (click)="editMeetup(meetup)">
          <ion-icon name="ios-create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" icon-left (click)="deleteMeetup(meetup)">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
