<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateQuote()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList>

  <ion-item-sliding *ngFor="let quote of loadeditemList" #slidingItem>

        <button ion-item (click)="goToQuoteDetail(quote)">
          <h3>{{quote.quote}}</h3>
          <p>
            {{quote.title}} &mdash;
            Uploaded By:
            {{quote.username}}
          </p>
        </button>
        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, quote)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, quote, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

      </ion-list>

      <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
       </ion-infinite-scroll>
    <!--<ion-list>
      <ion-item class="text" *ngFor="let item of quotes | async">
         {{item.title}}
      </ion-item>
   </ion-list>-->

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
