<ion-header>
  <ion-navbar>
    <ion-title *ngIf="quote">{{quote.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="quote">
    <h1>{{quote.quote}}</h1>
    <p *ngIf="quote.details">
       {{quote.details}}
    </p>
      <ion-card>
        <ion-card-header>
          More Details & Videos
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="quote.otherurl"><a [href]="quote.otherurl" target="_blank">About Author</a></p>
          <p *ngIf="quote.videourl"><a [href]="quote.videourl" target="_blank">Watch Video</a></p>
          <p *ngIf="quote.websiteurl"><a [href]="quote.websiteurl" target="_blank">Website</a></p>
        </ion-card-content>
      </ion-card>

      
  </div>
</ion-content>
